body{
    background-color: #161616;
}
.noise::before{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    opacity: 0.1;
    z-index: 1000;
    pointer-events: none;
    background: url("/src/assets/noise.gif") ;
}

.noise-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

h1{
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: line-through .5px white ;
}